<div class="top-controlls" fxLayout="flex" fxLayoutAlign="center center">
  <md-select placeholder="Select Heat Map type" [(ngModel)]="heatMapType" (ngModelChange)="drawHeatMap($event)">
    <md-option [value]="'busyareas'">
      Busy Areas
    </md-option>
    <md-option [value]="'busystations'">
      Busy Stations
    </md-option>
  </md-select>
  <md-checkbox [(ngModel)]="heatMapRadius" (ngModelChange)="setHeatMapRadius()">HeatMap Radius Toggle</md-checkbox>
</div>
<div id="heatmap">
</div>