.sebm-google-map-container {
  height: 90%;
}
sebm-google-map-info-window div{
  padding:4px;
}

.sebm-google-map-container .icon{
    width: 20px;
    height: 20px; 
    margin-right: 5px;
}
.stationName{
  font-weight: bold;
  color:blue;
  font-size: 14px;
}
.shortName{
  color:darkblue;
  font-size: 10px;
}
.boldNumber{
  font-weight: bold;
}
sebm-google-map-marker img{
  width:40px;
  height:40px;
}

md-input-container{
    min-width: 250px;
    max-width: 500px;
    margin-left: 10px;
}
md-input-container.number{
    min-width: 100px;
    max-width: 500px;
    margin-left: 10px;
}
input[type="number"]{
  min-width: 101px;
  width: 100px;
}
.top-controlls{
  display: flex;
  flex-wrap: wrap;
}
.top-controlls *{
  margin: 5px;
}
.top-controlls .state{
    display: flex;
    align-items: center;
}
.top-controlls .state span{
  font-weight: bold;
}
.top-controlls .state img{
  width:20px;
  height:20px;
}
