<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="mapClicked($event)">

  <sebm-google-map-marker *ngFor="let m of stations; let i = index" [latitude]="m.lat" [longitude]="m.lon" [iconUrl]="m.getIconUrl()"
    [markerDraggable]="false">
    <div></div>
    <sebm-google-map-info-window>
      <div fxLayout="column">
        <div class="stationName">{{m.name}}</div>
        <div class="shortName">Bike Station: {{m.short_name}}</div>
        <hr>
        <div fxLayout="flex" fxLayoutAlign="space-around center">
          <img class="icon" src="https://member.citibikenyc.com/versions/1488899935/8dResources/eightdbike/images/maps/buttons/bikes.png"
          /> Available Bikes: <span class="boldNumber">{{m.status.num_bikes_available}} of {{m.capacity}}</span></div>
        <hr>
        <div fxLayout="flex" fxLayoutAlign="space-around center">
          <img class="icon" src="https://member.citibikenyc.com/versions/1488899935/8dResources/eightdbike/images/maps/buttons/docks.png"
          /> Available Docks: <span class="boldNumber">{{m.status.num_docks_available}}</span></div>
      </div>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>

  <!--<sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </sebm-google-map-circle>-->

</sebm-google-map>