.flex-container{
    padding:2px;
    flex-wrap:wrap;
}
@media (max-width:400px){
md-card{
    padding:0 !important;
    min-width: 200px;
    max-width:3000px;
    min-height:100px;
    max-height:300px;
    margin-bottom: 15px;
}    
}
@media (min-width:401px){
md-card{
    padding:0 !important;
    min-width: 550px;
    max-width:550px;
    min-height:200px;
    max-height:600px;
    margin-bottom: 15px;
}
}
md-card-content{
    padding:10px;
}
md-card-header{
    padding:10px;
    background: rgba(63, 81, 181, 0.25);
}
md-card-title{
    font-size: 16px;
}
md-spinner{
    align-self: center;
}