/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html{
    height: 100%;
}
body{
    height: 100%;
    padding: 0;
    margin: 0;
}
md-sidenav-container{
    height: 100%;
}
.my-content{
    height:100%;
}